body {
    width: 980px;
    margin: auto;
    background-color: #98a7c0;
}

/* Gallery */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 14px;
    display: inline-block;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 120px;
    object-fit: cover;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
