<section>
    <h1 class="item">Sleepover</h1>

    <div class="item">

        <div class="layout left med">
            <div class="col">
                <img src="/static/assets/splash.jpg" class="img-med">
            </div>

            <div class="content pad-med">
                <p>Welcome to Sleepover!</p>
                <p>Quickly find affordable accommodation anywhere in the country.</p>

                <div class="align-center">
                    <a class="action" href="/catalog">Browse Listings</a>
                    <a class="action" href="/accommodation/create">Host New Accommodation</a>
                </div>
            </div>
        </div>
</section>
