<section>
    <h1>{{title}}</h1>

    {{#if errors}}
    <div class="error-box align-center">
        {{#each errors}}
        <p>{{this}}</p>
        {{/each }}
    </div>
    {{/if}}

    <div class="item padded align-center">
        <form class="layout left large" action="/accommodation/create" method="post">

            <div class="col aligned">
                <label for="name">
                    <span>Name</span>
                    <input class="padded" type="text" name="name" id="name" />
                </label>
                <label for="city">
                    <span>City</span>
                    <input class="padded" type="text" name="city" id="city" />
                </label>
                <label for="imageUrl">
                    <span>Image Url</span>
                    <input class="padded" type="text" name="imageUrl" id="imageUrl" />
                </label>
                <label for="beds">
                    <span>Beds</span>
                    <input class="padded" type="number" name="beds" id="beds" />
                </label>
                <label for="price">
                    <span>Price per Night</span>
                    <input class="padded" type="text" name="price" id="price" />
                </label>
            </div>

            <div class="content pad-med align-center vertical">
                <label for="description">
                    <span>Description</span>
                    <textarea name="description" id="description" rows="5"></textarea>
                </label>
                
                <div class="align-center">
                    <input class="action" type="submit" value="Create Accomodation"/>
                </div>
            </div>
        </form>
    </div>
</section>